/*** Global
*********************************************************/
body
{
    font-family: Arial, sans-serif;
    color: #000;
    background-color: #fff;
    padding: 20px 30px;
    font-size: 0.84em;
}
