RewriteEngine On

RewriteCond %{REQUEST_URI} !\.
RewriteRule ^(.*[^/])$ http://%{HTTP_HOST}/$1/ [L,R,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* /parse_request.php [L,QSA]
RewriteRule ^$ /parse_request.php [L,QSA]

RewriteCond %{REQUEST_URI} \.svn
RewriteRule ^.*$ http://sitedev.ru [L,R]
