/**
 * Authorization page
 */

table.auth-form
{
    width: 300px;
    margin: 50px 50px 30px 50px;
}

#auth_reminder
{
    width: 300px;
    margin: 0 50px 50px 50px;
    display: none;
}

table.auth-form label,
#auth_reminder label
{
    display: block;
    font-size: 0.84em;
}

table.auth-form td.auth-login
{
    padding: 0 0.5em 1em 0;
    width: 50%;
}

table.auth-form td.auth-password
{
    padding: 0 0 1em 0.5em;
    width: 50%;
}

table.auth-form td.auth-login input,
table.auth-form td.auth-password input
{
    width: 100%;
}

#auth_reminder td.auth-email input
{
    width: 300px;
}

#auth_reminder td.auth-email
{
    padding-bottom: 1em;
}

table.auth-form #auth_submit,
#auth_reminder #auth_reminder_submit
{
    float: right;
}

table.auth-form td.error,
table.auth-form td.success,
#auth_reminder td.error,
#auth_reminder td.success
{
    padding-top: 1em;
    font-size: 0.84em;
    color: red;
}

table.auth-form td.success,
#auth_reminder td.success
{
    color: green;
}

div#auth_forgot
{
    margin: 0 50px 50px 50px;
    font-size: 0.7em;
}

div#auth_forgot span
{
    cursor: pointer;
    border-bottom: 1px black dashed;
}
