/*** Global
*********************************************************/
table.form {
	width: 100%;
}

table.form td {
	padding: 0;
}

table.form td.label {
	width: 28%;
	padding: 2px 20px 20px 0;
	vertical-align: top;
	font-size: 0.84em;
}

table.form td.input {
	padding-bottom: 20px;
	vertical-align: top;
}

table.form td.input .form_float_ele {
	float: left;
	margin-right: 5px;
	font-size: 0.84em;
}

table.form label sup.required {
	color: #f00;
}

table.form td.label div.description {
	font-size: 0.84em;
	margin-top: 5px;
}

table.form td.input div.description {
	font-size: 0.7em;
	padding-top: 5px;
	clear: both;
}

table.form div.description code,
div.add_files_description code {
	font-size: 1.1em;
	background-color: #e7e7e7;
}

div.field_error_message {
	float: left;
	margin-top: 5px;
	color: #f00;
	font-size: 0.7em;
}

div.buttons {
	margin-top: 30px;
	padding-top: 10px;
	border-top: 2px solid #ccc;
}

table.form input,
table.form textarea,
table.form select {
	cursor: text;
}

table.form a {
	cursor: pointer;
}


/*** Fields
*********************************************************/
table.form_name td {
	vertical-align: bottom;
}

table.form_name td.first_name {
	padding: 0 0.5em;
}

table.form_name td.last_name input,
table.form_name td.first_name input,
table.form_name td.patronymic_name input {
	width: 10em;
}

table.form_name label {
	font-size: 0.84em;
}

table.form_password td.check {
	padding-left: 0.5em;
}

table.form_password td.password input,
table.form_password td.check input {
	width: 10em;
}

table.form_password label {
	font-size: 0.7em;
}

table.form_phone td.code {
	padding-right: 0.5em;
}

table.form_phone td.code input {
	width: 3.5em;
	text-align: right;
}

table.form_phone td.number input {
	width: 10em;
}

table.form_phone label {
	font-size: 0.84em;
}

input.string {
	width: 400px;
}

input.folder,
input.filename,
input.email,
input.uri {
	width: 20.6em;
}

input.file {
	width: 16em;
}

input.word {
	width: 16em;
}

select.simple {
	width: 20.6em;
}

table.chooser_item {
	float: left;
	margin: 0 1em 0.5em 0;
}

table.chooser_item td {
	vertical-align: top;
}

table.chooser_item td.chooser_label {
	padding: 0.25em 0 0 0.25em;
	font-size: 0.84em;
}

textarea.text,
textarea.short_text,
textarea.large_text {
	width: 400px;
	height: 100px;
	font-family: Lucida Console, Consolas, Arial;
}

textarea.short_text {
	height: 60px;
}

textarea.large_text {
	height: 150px;
}

td.alone .form_float_ele {
    float: none !important;
    margin-right: 0 !important;
}

td.alone textarea {
    width: 100%;
    height: 300px;
}

table.form_date td.day input,
table.form_date td.month input,
table.form_date td.hours input,
table.form_date td.minutes input {
	width: 25px;
	text-align: center;
}

table.form_date td.year input {
	width: 50px;
	text-align: center;
}

table.form_date td.date_separator,
table.form_date td.datetime_separator,
table.form_date td.time_separator {
	font-size: 0.8em;
	padding: 0 3px;
	color: #666666;
}

table.form_date td.date_separator {
	padding-top: 1px;
}

table.form_date td.datetime_separator {
	padding-right: 10px;
}

.form_calendar input {
	float: left;
	width: 90px;
}

.form_calendar button {
	float: left;
	margin-left: 5px;
}

div.field_image {
	float: left;
	margin: 0 20px 10px 0;
}

div.field_image_params {
	float: left;
	padding: 0 10px 10px 0;
}

div.field_image_replace {
	font-size: 0.84em;
	padding-top: 5px;
	clear: left;
}

img.preview
{
    border: 1px solid #eee;
    margin: 0 10px 10px 0;
}

img.preview-resized
{
    border: 1px dotted #000;
    margin: 0 10px 10px 0;
}

input.year {
	width: 5em;
	text-align: right;
}

input.integer,
input.float
{
	width: 10em;
	text-align: right;
}

td.multiple {
	vertical-align: top;
	padding: 0 10px 5px 10px !important;
	font-size: 0.84em;
}

td.multiple-first
{
    padding-left: 0 !important;
}

td.multiple table.chooser_item {
	margin: 0;
}

td.multiple table.chooser_item td.chooser_label {
	padding-top: 3px;
}

td.multiple_small table.chooser_item td.chooser_label {
	font-size: 0.7em;
}


/*** Groups
*********************************************************/
table.form_group_tabs {
	margin-bottom: 30px;
}

table.form_group_tabs td {
	padding: 0 10px 8px 10px;
	font-size: 0.7em;
	background: url('/cms/f/tabs_bottom_border.gif') repeat-x bottom;
}

table.form_group_tabs td.first {
	padding-left: 0;
}

table.form_group_tabs a {
	color: #000;
	cursor: pointer;
}

table.form_group_tabs td.selected {
	background-image: url('/cms/f/tabs_bottom_border_selected.gif');
}

table.form_group_tabs td.selected a {
	color: #36c;
	cursor: text;
}


/*** Files
*********************************************************/
table.form_files {
	clear: both;
}

table.form_files td {
	padding-top: 5px;
}

table.form_files td.system {
	cursor: pointer;
	padding-right: 10px;
}

div.add_files {
	border-bottom: 1px dashed #000;
	cursor: pointer;
	font-size: 0.8em;
	float: left;
}

div.add_files_description {
	font-size: 0.7em;
	padding-bottom: 5px;
}

div.files {
	clear: both;
	padding-top: 20px;
}

div.files div.file {
	margin: 10px 10px 0 0;
	font-size: 0.84em;
	float: left;
	color: #999;
}

div.files div.file span {
	cursor: pointer;
	color: #000;
}


/*** Element tree
*********************************************************/
div.tree {
	font-size: 0.7em;
	clear: left;
}

table.tree {
	width: 100%;
}

table.tree td {
	vertical-align: top;
}

table.tree td.tree_icon {
	width: 1%;
	padding: 5px 5px 0 0;
}

table.tree td.tree_input {
	width: 1%;
	padding-right: 5px;
}

table.tree td.tree_title {
	padding-top: 3px;
	font-size: 0.7em;
}

table.tree a {
	cursor: pointer;
}

a.tree_switcher {
	display: block;
	margin: 2px 0 10px 0;
	float: left;
	border-bottom: 1px dashed #000;
	text-decoration: none;
	cursor: pointer;
	font-size: 0.84em;
}

div.tree_subitems {
	margin-left: 14px;
	display: none;
}

div.sort_item {
	cursor: move;
}

div.sort_item a {
	cursor: pointer;
}

/*
.sort-placeholer
{
    border: 1px dotted #36c;
    width: 150px;
}
*/


/*** Список элементов из таблицы с тройным составным первичным ключом
*********************************************************/
table.triple-link-item,
table.orders
{
    float: left;
    margin: 10px 34px 0 -14px;
}

table.triple-link-item td.system,
table.orders td.system
{
    /* padding-top: 7px; */
    line-height: 0;
    width: 14px;
}

table.triple-link-item td.system div,
table.orders td.system div
{
    cursor: pointer;
}

table.triple-link-item select,
table.orders select
{
    margin: 0 5px 0 0;
    width: 150px;
}

table.orders input.integer
{
    width: 3em;
}
