/**
 * Global
 */

table.form
{
    width: 100%;
}

table.form td
{
    padding: 0;
}

table.form td.label
{
    width: 28%;
    padding: 2px 20px 20px 0;
    vertical-align: top;
    font-size: 0.84em;
}

table.form td.input
{
    padding-bottom: 20px;
    vertical-align: top;
}

table.form td.input .form-float-ele
{
    float: left;
    margin-right: 5px;
    font-size: 0.84em;
}

table.form label sup.required
{
    color: #f00;
}

table.form td.label div.description
{
    font-size: 0.84em;
    margin-top: 5px;
}

table.form td.input div.description
{
    font-size: 0.7em;
    padding-top: 5px;
    clear: both;
}

table.form div.description code,
div.add-files-description code
{
    font-size: 1.1em;
    background-color: #e7e7e7;
}

div.field-error-message
{
    float: left;
    margin-top: 5px;
    color: #f00;
    font-size: 0.7em;
}

div.buttons
{
    margin-top: 30px;
    padding-top: 10px;
    border-top: 2px solid #ccc;
}

table.form input,
table.form textarea,
table.form select
{
    cursor: text;
}

table.form a
{
    cursor: pointer;
}


/**
 * Fields
 */

table.form-name td
{
    vertical-align: bottom;
}

table.form-name td.first-name
{
    padding: 0 0.5em;
}

table.form-name td.last-name input,
table.form-name td.first-name input,
table.form-name td.patronymic-name input
{
    width: 10em;
}

table.form-name label
{
    font-size: 0.84em;
}

table.form-password td.check
{
    padding-left: 0.5em;
}

table.form-password td.password input,
table.form-password td.check input
{
    width: 10em;
}

table.form-password label
{
    font-size: 0.7em;
}

table.form-phone td.code
{
    padding-right: 0.5em;
}

table.form-phone td.code input
{
    width: 3.5em;
    text-align: right;
}

table.form-phone td.number input
{
    width: 10em;
}

table.form-phone label
{
    font-size: 0.84em;
}

input.string
{
    width: 400px;
}

input.folder,
input.filename,
input.email,
input.uri
{
    width: 20.6em;
}

input.file
{
    width: 16em;
}

input.word
{
    width: 16em;
}

select.simple
{
    width: 20.6em;
}

table.chooser-item
{
    float: left;
    margin: 0 1em 0.5em 0;
}

table.chooser-item td
{
    vertical-align: top;
}

table.chooser-item td.chooser-label
{
    padding: 0.25em 0 0 0.25em;
    font-size: 0.84em;
}

textarea.text,
textarea.short-text,
textarea.large-text
{
    width: 400px;
    height: 100px;
    font-family: Lucida Console, Consolas, Arial;
}

textarea.short-text
{
    height: 60px;
}

textarea.large-text
{
    height: 150px;
}

td.alone .form-float-ele
{
    float: none !important;
    margin-right: 0 !important;
}

td.alone textarea
{
    width: 100%;
    height: 300px;
}

table.form-date td.day input,
table.form-date td.month input,
table.form-date td.hours input,
table.form-date td.minutes input
{
    width: 25px;
    text-align: center;
}

table.form-date td.year input
{
    width: 50px;
    text-align: center;
}

table.form-date td.date-separator,
table.form-date td.datetime-separator,
table.form-date td.time-separator
{
    font-size: 0.8em;
    padding: 0 3px;
    color: #666666;
}

table.form-date td.date-separator
{
    padding-top: 1px;
}

table.form-date td.datetime-separator
{
    padding-right: 10px;
}

.form-calendar input
{
    float: left;
    width: 90px;
}

.form-calendar button
{
    float: left;
    margin-left: 5px;
}

div.field-image
{
    float: left;
    margin: 0 20px 10px 0;
}

div.field-image-params
{
    float: left;
    padding: 0 10px 10px 0;
}

div.field-image-replace
{
    font-size: 0.84em;
    padding-top: 5px;
    clear: left;
}

img.preview
{
    border: 1px solid #eee;
    margin: 0 10px 10px 0;
}

img.preview-resized
{
    border: 1px dotted #000;
    margin: 0 10px 10px 0;
}

input.year
{
    width: 5em;
    text-align: right;
}

input.integer,
input.float
{
    width: 10em;
    text-align: right;
}

td.multiple
{
    vertical-align: top;
    padding: 0 10px 5px 10px !important;
    font-size: 0.84em;
}

td.multiple-first
{
    padding-left: 0 !important;
}

td.multiple table.chooser-item
{
    margin: 0;
}

td.multiple table.chooser-item td.chooser-label
{
    padding-top: 3px;
}

td.multiple-small table.chooser-item td.chooser-label
{
    font-size: 0.7em;
}


/**
 * Groups
 */

table.form-group-tabs
{
    margin-bottom: 30px;
}

table.form-group-tabs td
{
    padding: 0 10px 8px 10px;
    font-size: 0.7em;
    background: url('/cms/f/tabs-bottom-border.gif') repeat-x bottom;
}

table.form-group-tabs td.first
{
    padding-left: 0;
}

table.form-group-tabs a
{
    color: #000;
    cursor: pointer;
}

table.form-group-tabs td.selected
{
    background-image: url('/cms/f/tabs-bottom-border-selected.gif');
}

table.form-group-tabs td.selected a
{
    color: #36c;
    cursor: text;
}


/**
 * Files
 */

table.form-files
{
    clear: both;
}

table.form-files td
{
    padding-top: 5px;
}

table.form-files td.system
{
    cursor: pointer;
    padding-right: 10px;
}

div.add-files
{
    border-bottom: 1px dashed #000;
    cursor: pointer;
    font-size: 0.8em;
    float: left;
}

div.add-files-description
{
    font-size: 0.7em;
    padding-bottom: 5px;
}

div.files
{
    clear: both;
    padding-top: 20px;
}

div.files div.file
{
    margin: 10px 10px 0 0;
    font-size: 0.84em;
    float: left;
    color: #999;
}

div.files div.file span
{
    cursor: pointer;
    color: #000;
}


/**
 * Element tree
 */

div.tree
{
    font-size: 0.7em;
    clear: left;
}

table.tree
{
    width: 100%;
}

table.tree td
{
    vertical-align: top;
}

table.tree td.tree-icon
{
    width: 1%;
    padding: 5px 5px 0 0;
}

table.tree td.tree-input
{
    width: 1%;
    padding-right: 5px;
}

table.tree td.tree-title
{
    padding-top: 3px;
    font-size: 0.7em;
}

table.tree a
{
    cursor: pointer;
}

a.tree-switcher
{
    display: block;
    margin: 2px 0 10px 0;
    float: left;
    border-bottom: 1px dashed #000;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.84em;
}

div.tree-subitems
{
    margin-left: 14px;
    display: none;
}

div.sort-item
{
    cursor: move;
}

div.sort-item a
{
    cursor: pointer;
}

/*
.sort-placeholer
{
    border: 1px dotted #36c;
    width: 150px;
}
*/


/**
 * Список элементов из таблицы с тройным
 * составным первичным ключом
 */

table.triple-link-item,
table.orders
{
    float: left;
    margin: 10px 34px 0 -14px;
}

table.triple-link-item td.system,
table.orders td.system
{
/*     padding-top: 7px; */
    line-height: 0;
    width: 14px;
}

table.triple-link-item td.system div,
table.orders td.system div
{
    cursor: pointer;
}

table.triple-link-item select,
table.orders select
{
    margin: 0 5px 0 0;
    width: 150px;
}

table.orders input.integer
{
    width: 3em;
}

